{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>Contact Me</h2>
    </div>
    <div class="col-md-8">
        <div class="contact-item">
            <p>Email: <a href="mailto:calvin.zhng12@gmail.com">calvin.zhng12@gmail.com</a></p>
        </div>
        <div class="contact-item">
            <p>Phone: <a href="tel:+19293195558">+1 929 319 5558</a></p>
        </div>
        <div class="contact-item">
            <p>LinkedIn: <a href="https://www.linkedin.com/in/czheng05/" target="_blank">https://www.linkedin.com/in/czheng05/</a></p>
        </div>
    </div>
</div>
{% endblock %}
