{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/profile.jpg') }}" class="img-fluid rounded-circle" alt="Profile Picture">
    </div>
    <div class="col-md-8">
        <h2>About Me</h2>
        <p>Hi! My name is Calvin.</p>
        <p>I am an aspiring data scientist with a passion for soccer and stats/probabilities.</p>
        <p>With experience in Python, SQL, and modern frameworks like Flask.</p>
        <p>I have worked on multiple projects ranging from modeling to data visualizations, which you can find <a href="http://127.0.0.1:5000/projects/" target="_blank">here</a>.</p>
    </div>
</div>
{% endblock %}